<tbody>
  <% if current_user.fridge_id == item.fridge_id %>
    <%= form_with model: item, local: true do |f| %>
      <tr>
        <td><%= f.check_box :regular, {class: "form-check-input", type: "checkbox", id: "checkboxNoLabel" }, "1", "0" %></td>
        <td><%= f.text_field :name, placeholder: "アイテム名を入力してください", class: 'form-control' %></td>
        <td><%= f.collection_select(:amount_id, Amount.where.not(id: 0), :id, :name, {}, {class:"form-control"}) %></td>
        <td><%= f.collection_select(:category_id, Category.where.not(id: 0), :id, :name, {}, {class:"form-control"}) %></td>
        <td><%= f.date_field :exp_date, class: 'form-control'%></td>
        <td class="fw-bold"><%= item.latest_shopping_date if item.shoppings.present? %></td>
        <td><%= f.submit "更新", class: 'btn btn-warning' %></td>
        <td><%= link_to "ロス", losses_path(loss_date: Date.today, fridge_id: item.fridge_id, item_id: item.id, amount_id: item.amount.id, category_id: item.category.id), method: :post, class: 'btn btn-danger' unless item.category_id == 5 || item.amount_id == 1 %></td>
        <td><%= link_to "削除", item_path(item.id), method: :delete, data: { confirm: "#{item.name}を本当に削除してもよろしいですか？" }, class: 'btn btn-secondary' %></td>
      </tr>
    <% end %>
  <% end %>
</tbody>