<%= render "shared/header"%>
<div class="box">

  <%# 冷蔵庫新規登録＆共有リクエストフォーム %>
  <div class= "container">
    <div class= "row">
      <% if user_signed_in? && current_user.fridge_id.nil? && current_user.request.nil? %>
        <div class="lead mt-5">冷蔵庫を新規作成してください。共有する場合はその冷蔵庫IDを入力して共有リクエストを送信してください</div>
          <%= form_with model: @fridge, local: true do |f| %>
            <div class='col-5 mx-auto mt-3'>
              <%= f.text_field :title, placeholder: "【冷蔵庫新規作成】冷蔵庫の名前を入力してください", class: 'form-control' %>
              <%= f.submit "新規作成", class: 'btn btn-primary' %>
            </div>
          <% end %>
          <%= form_with model: @request, local: true do |f| %>
            <div class='col-5 mx-auto mt-5'>
              <%= f.number_field :fridge_id, placeholder: "【冷蔵庫共有】共有したい冷蔵庫のIDを入力してください", class: 'form-control' %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.submit "共有リクエスト", class: 'btn btn-success' %>
              <%= render 'shared/error_messages', model: f.object %>
            </div>
          <% end %>
      <% elsif user_signed_in? && current_user.request.present? %>
        <h3 class="mt-5"><%= "現在、冷蔵庫ID: #{current_user.request.fridge_id}の共有リクエストを申請中です" %></h3>
        <div class='col mx-auto mt-1'>
          <%= button_to "申請を取り消す", request_path(current_user.request.id), method: :delete, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>


  <%# 冷蔵庫情報 %>
  <div class= "container">
    <div class= "row">

      <%# 冷蔵庫名表示 %>  
      <% if user_signed_in? && current_user.fridge_id.present? %>
        <% if current_user.fridge.title.blank? %>
          <div>
            <h1 class="text-dark mt-5 fw-bold"><%= current_user.nickname %>さんの冷蔵庫</h1><p>ID:<%= current_user.fridge_id %></p>
          </div>
        <% else %>
          <div>
            <h1 class="text-dark mt-5 fw-bold"><i class="fa-light fa-cart-shopping"></i><%= current_user.fridge.title %></h1><p>ID:<%= current_user.fridge_id %></p>
          </div>
        <% end %>

        <%# フードロス率 %>
        <h3 class="text-dark mt-5 border-bottom border-dark fw-bold">
            フードロス率
        </h3>
        
        <%# フードロス率計算 %>
        <% monthly_losses = current_user.fridge.losses.where(loss_date: Date.today.ago(1.month)..).count %>
        <% monthly_shopping_items = 0 %>
        <% current_user.fridge.shoppings.each do |shopping| %>
          <% shopping.shopping_items.each do |shopping_item| %>
            <% if Date.today.ago(1.month) < shopping_item.created_at && shopping_item.item.category_id != 5 %>
              <% monthly_shopping_items += 1 %>
            <% end %>
          <% end %>
        <% end %>
        <% monthly_losses_ratio = ((monthly_losses.to_f / monthly_shopping_items.to_f) * 100).round(2) %>

        <% three_months_losses = current_user.fridge.losses.where(loss_date: Date.today.ago(3.month)..).count %>
        <% three_months_shopping_items = 0 %>
        <% current_user.fridge.shoppings.each do |shopping| %>
          <% shopping.shopping_items.each do |shopping_item| %>
            <% if Date.today.ago(3.month) < shopping_item.created_at && shopping_item.item.category_id != 5 %>
              <% three_months_shopping_items += 1 %>
            <% end %>
          <% end %>
        <% end %>
        <% three_months_losses_ratio = ((three_months_losses.to_f / three_months_shopping_items.to_f) * 100).round(2) %>

        <% six_months_losses = current_user.fridge.losses.where(loss_date: Date.today.ago(6.months)..).count %>
        <% six_months_shopping_items = 0 %>
        <% current_user.fridge.shoppings.each do |shopping| %>
          <% shopping.shopping_items.each do |shopping_item| %>
            <% if Date.today.ago(6.months) < shopping_item.created_at && shopping_item.item.category_id != 5 %>
              <% six_months_shopping_items += 1 %>
            <% end %>
          <% end %>
        <% end %>
        <% six_months_losses_ratio = ((six_months_losses.to_f / six_months_shopping_items.to_f) * 100).round(2) %>

        <% year_losses = current_user.fridge.losses.where(loss_date: Date.today.ago(1.year)..).count %>
        <% year_shopping_items = 0 %>
        <% current_user.fridge.shoppings.each do |shopping| %>
          <% shopping.shopping_items.each do |shopping_item| %>
            <% if Date.today.ago(1.year) < shopping_item.created_at && shopping_item.item.category_id != 5 %>
              <% year_shopping_items += 1 %>
            <% end %>
          <% end %>
        <% end %>
        <% year_losses_ratio = ((year_losses.to_f / year_shopping_items.to_f) * 100).round(2) %>

        <%# プログレスバー表示 %>
        <h6 class="text-dark fw-bold mt-3">過去1ヶ月間</h6>
        <div class="progress mt-2 mb-3" style="height: 1.5rem;" >
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= 100 - monthly_losses_ratio %>%" aria-valuenow="<%= 100 - monthly_losses_ratio %>" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: <%= monthly_losses_ratio %>%" aria-valuenow="<%= monthly_losses_ratio %>" aria-valuemin="0" aria-valuemax="100">フードロス<%= monthly_losses_ratio %>%</div>
        </div>

        <button class="btn btn-outline-primary col-2 mx-auto btn-sm dropdown-toggle mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMore" aria-expanded="false" aria-controls="collapseMore">
          もっと見る
        </button>
        <div class="collapse" id="collapseMore">
          <div class="card card-body">
            <h6 class="text-dark fw-bold mt-3">過去3ヶ月間</h6>
            <div class="progress mt-2 mb-3 " style="height: 1.5rem;" >
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= 100 - three_months_losses_ratio %>%" aria-valuenow="<%= 100 - three_months_losses_ratio %>" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: <%= three_months_losses_ratio %>%" aria-valuenow="<%= three_months_losses_ratio %>" aria-valuemin="0" aria-valuemax="100">フードロス<%= three_months_losses_ratio %>%</div>
            </div>
            <h6 class="text-dark fw-bold mt-3">過去6ヶ月間</h6>
            <div class="progress mt-2 mb-3 " style="height: 1.5rem;" >
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= 100 - six_months_losses_ratio %>%" aria-valuenow="<%= 100 - six_months_losses_ratio %>" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: <%= six_months_losses_ratio %>%" aria-valuenow="<%= six_months_losses_ratio %>" aria-valuemin="0" aria-valuemax="100">フードロス<%= six_months_losses_ratio %>%</div>
            </div>
            <h6 class="text-dark fw-bold mt-3">過去1年間</h6>
            <div class="progress mt-2 mb-3 " style="height: 1.5rem;" >
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= 100 - year_losses_ratio %>%" aria-valuenow="<%= 100 - year_losses_ratio %>" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: <%= year_losses_ratio %>%" aria-valuenow="<%= year_losses_ratio %>" aria-valuemin="0" aria-valuemax="100">フードロス<%= year_losses_ratio %>%</div>
            </div>
          </div>
        </div>

        <%# 新規アイテム登録フォーム %>
        <h3 class="text-dark mt-5 border-bottom border-dark fw-bold">
            アイテム登録
        </h3>

        <%= form_with model: @item, local: true do |f| %>

        <%= render 'shared/error_messages', model: f.object %>

          <table class="table table-hover table-sm table-borderless text-dark mt-2 ">
            <thead>
              <tr>
                <th scope="col">常備</th>
                <th scope="col">アイテム名</th>
                <th scope="col">カテゴリ</th>
                <th scope="col">残量</th>
                <th scope="col">賞味/消費期限</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= f.check_box :regular, {checked: true, class: "form-check-input", type: "checkbox", id: "checkboxNoLabel" }, "1", "0" %></td>
                <td><%= f.text_field :name, placeholder: "アイテム名を入力してください", class: 'form-control' %></td>
                <td><%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control"}) %></td>
                <td><%= f.collection_select(:amount_id, Amount.all, :id, :name, {}, {class:"form-control"}) %></td>
                <td><%= f.date_field :exp_date, class: 'form-control'%></td>
                <td><%= f.submit "登録", class: 'btn btn-primary' %></td>
            </tbody>
          </table>
        <% end %>

        <%# アイテム編集フォーム %>
        <div>
          <h3 class="text-dark mt-5 border-bottom border-dark fw-bold">
            アイテム一覧
          </h3>
        </div>
        <table class="table table-hover table-sm text-dark mt-2 mb-5">
        <thead>
          <tr>
            <th scope="col"><%= sort_link(@q, :regular, "常備" )%></th>
            <th scope="col"><%= sort_link(@q, :name, "アイテム名" )%></th>
            <th scope="col"><%= sort_link(@q, :category_id, "カテゴリ" )%></th>
            <th scope="col"><%= sort_link(@q, :amount_id, "残量" )%></th>
            <th scope="col"><%= sort_link(@q, :exp_date, "賞味/消費期限" )%></th>
            <th scope="col">最新購入日</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% @items.each do |item| %>
          <tbody>
            <% if current_user.fridge_id == item.fridge_id %>
              <%= form_with model: item, local: true do |f| %>
                <tr>
                  <td><%= f.check_box :regular, {class: "form-check-input", type: "checkbox", id: "checkboxNoLabel" }, "1", "0" %></td>
                  <td><%= f.text_field :name, placeholder: "test", class: 'form-control' %></td>
                  <td><%= f.collection_select(:category_id, Category.where.not(id: 0), :id, :name, {}, {class:"form-control"}) %></td>
                  <td><%= f.collection_select(:amount_id, Amount.where.not(id: 0), :id, :name, {}, {class:"form-control"}) %></td>
                  <td><%= f.date_field :exp_date, class: 'form-control'%></td>
                  <td class="fw-bold"><%= item.latest_shopping_date if item.shoppings.present? %></td>
                  <td><%= f.submit "更新", class: 'btn btn-warning' %></td>
                  <td><%= link_to "ロス", losses_path(loss_date: Date.today, fridge_id: item.fridge_id, item_id: item.id, category_id: item.category.id, amount_id: item.amount.id), method: :post, class: 'btn btn-danger' unless item.category_id == 5 %></td>
                  <td><%= link_to "削除", item_path(item.id), method: :delete, data: { confirm: "【確認】#{item.name}を本当に削除してもよろしいですか？" }, class: 'btn btn-secondary' %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
