<%= render "shared/header"%>
<div class= "background">
  <div class= "box">
    <div class= "container">
      <div class= "row">
        <%= form_with model: @shopping_form, url: fridge_shoppings_path, local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <h5 class="text-dark mt-5 fw-bold">
            <%= f.label :shopping_date, 'сЂіУ▓исЂёуЅЕсЂ«ТЌЦС╗ўсѓњжЂИТіъ' %>
          </h5>
          <div class='col-3 mx-auto'>
            <%= f.date_field :shopping_date, value: Date.today, class: 'form-control' %>
          </div>
          <h3 class="text-dark mt-5 fw-bold">
            ­ЪЏњ сЂіУ▓исЂёуЅЕсЃфсѓ╣сЃѕ 
          </h3>
          <table class="table table-hover table-light  table-sm mt-3">
            <thead>
              <tr>
                <th scope="col">У│╝тЁЦ</th>
                <th scope="col">сѓбсѓцсЃєсЃатљЇ</th>
                <th scope="col">Т«ІжЄЈ</th>
                <th scope="col">сѓФсЃєсѓ┤сЃф</th>
                <th scope="col">У│ътЉ│/ТХѕУ▓╗ТюЪжЎљ</th>
                <th scope="col">ТюђухѓУ│╝тЁЦТЌЦ</th>
              </tr>
            </thead>
            <% @items.each do |item| %>
              <tbody>
                <% if current_user.fridge_id == item.fridge_id %>
                  <tr class="table-light">
                    <td><%= f.check_box :shopping_item_ids, { multiple: true}, item.id, nil %></td>
                    <td><%= item.name %></td>
                    <td><%= item.amount.name %></td>
                    <td><%= item.category.name %></td>
                    <td><%= item.exp_date %></td>
                    <td><%= item.latest_shopping_date if item.shoppings.present? %></td>
                  </tr>
                <% else %>
                <% end %>
              </tbody>
            <% end %>
          </table>
          <%= f.submit "У▓исЂёуЅЕсѓњухѓС║єсЂЎсѓІ", data: { confirm: 'ТюгтйЊсЂФУ▓исЂёуЅЕсѓњухѓС║єсЂЌсЂЙсЂЎсЂІ№╝Ъ'}, class: 'btn btn-warning mb-5' %>
        <% end %>
      </div>
    </div>
  </div>
</div>